# The challenger executable
challenger

# Anything in the build directory
build
build/*

mytest
run.sh
positions.txt

# Profiling/benchmark files
gmon.out
benchmarking_reference
analysis

# Swap files
*.swp
*.swo

# Syntax checking
compile_commands.json
