# The challenger executable
challenger

# Anything in the build directory
build
build/*

mytest
run.sh
positions.txt

# Profiling/benchmark files
gmon.out
benchmarking_reference
analysis

# Swap files
*.swp
*.swo

# VSCode directories
.vscode/

# Syntax checking
compile_commands.json

# Cmake files
CMakeCache.txt
CMakeFiles

# clang index files
src/.clangd

# Shell files
*.sh

tmp_analysis
