language: cpp
dist: focal
addons:
  apt:
    packages:
      - make
      - lcov
      - python3-pip
      - gcc-10
      - g++-10
      - libgtest-dev
      - libgmock-dev
compiler: gcc
before_install:
  - pip3 install setuptools
  - pip3 install wheel
  - pip3 install cpp-coveralls
  - pip3 install --user cmake
  - cmake --version
script:
  - make travis_test
after_success:
  - make coverage
  - coveralls -l ./build/challenger.info
