language: cpp
dist: bionic
addons:
  apt:
    packages:
    - make
    - lcov
    - python3-pip
compiler: gcc
before_install:
- pip3 install setuptools
- pip3 install wheel
- pip3 install cpp-coveralls
- pip3 install --user cmake
- cmake --version
script:
- make
- make test
after_success:
- make coverage
- coveralls -l challenger.info
