language: cpp
dist: xenial
addons:
    apt:
        packages:
            - cmake
            - make
            - lcov
    coverity_scan:
        project: folksgl/challenger
          version: 0.1
          description: Challenger Chess Engine
        build_command_prepend: cmake -H. -Bbuild
        build_command: cd build/ && make
        branch_pattern: master
compiler: gcc
before_install:
    - pip install --user cpp-coveralls
script:
    - cmake -H. -Bbuild
    - cd build/
    - make -j 8 && make test
after_success:
    - make coverage
    - coveralls -l challenger.info
